<div class="row justify-content-center">
    <div class="form-group input-group mb-3 mt-3 col-lg-8 ">
        <div class="input-group-prepend">
            <span class="input-group-text">Buscar</span>
        </div>
        <input name="buscar" type="text" class="form-control" placeholder="Buscar una película" (keyup.enter)="buscarPeliculas()" [(ngModel)]="buscar">
    </div>
</div>

<div class="row">
    <div class="card-columns">
        <div class="card" *ngFor="let pelicula of peliculas; let i=index">
            <img [src]="pelicula | peliculaImagen" class="card-img-top" [alt]="pelicula.original_title">
            <div class="card-body">
                <h5 class="card-title">{{ pelicula.title }}</h5>
                <p class="card-text text-justify">{{ pelicula.overview | slice:0:250}}...</p>
                <a class="btn btn-outline-primary text-primary btn-block" role="button" (click)="verPelicula(pelicula.id, buscar)">Ver mas...</a>
                <a> </a>
            </div>
        </div>
    </div>
</div>

<!-- [routerLink]="['/pelicula/{pelicula.id}']" -->